<nav class="navbar navbar-expand-lg navbar-{{theme}} bg-{{theme}}">
        <a class="navbar-brand" routerLink="/">{{title}}</a>
        <button class="navbar-toggler" type="button" (click)="toggleCollapseNavBar(isCollapsed)">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" [ngClass]= "isCollapsed ? 'show' : null" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Accueil</a>
            <a class="nav-item nav-link" routerLink="/pizzas" routerLinkActive="active">Nos pizzas</a>
            <a class="nav-item nav-link" routerLink="/register" routerLinkActive="active">Créer un compte</a>
          </div>
        </div>
</nav>
