<app-menu title="Mon application" theme="light"></app-menu>
<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
      <!-- <div *ngIf="selectedPizza">
        <h2>{{selectedPizza.name}}</h2>
        <p>{{selectedPizza.price}} &euro;</p>
        <div>
          <label>name: </label>
          <input [(ngModel)]="selectedPizza.name" placeholder="name">
        </div>
      </div> -->
      <!-- TOUT CE QUI A AU DESSUS EST REMPLACE PAR: -->
      <app-pizza [selectedPizza]="selectedPizza"></app-pizza>


  <div class="container">
    <div class="row">
      <div class="col-lg-3" *ngFor="let pizza of pizzas" (click)="onSelect(pizza)">
        <div class="card shadow mb-4">
          <img [src]="'assets/images/'+pizza.image" alt="pizza.name" class="card-img-top">
          <div class="card-body">
            <h2 class="card-title">
              {{pizza.name}}
            </h2>
            <p>Prix: {{pizza.price}} &euro;</p>
            <a href="#" class="btn btn-primary">Acheter la pizza</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
