<app-pizza [selectedPizza]="selectedPizza"></app-pizza>


  <div class="container">
    <div class="row">
      <div class="col-lg-3" *ngFor="let pizza of pizzas" (click)="onSelect(pizza)">
        <div class="card shadow mb-4">
          <img [src]="'assets/images/'+pizza.image" alt="pizza.name" class="card-img-top">
            <div class="card-body">
                <h2 class="card-title">
                {{pizza.name}}
                </h2>
                <p>Prix: {{pizza.price}} &euro;</p>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary"[routerLink]="['/pizza', pizza.id]">Voir la pizza</button>
                <br><br>
                <button class="btn btn-primary" (click)="onSelect(pizza)">Sélectionner la pizza</button>
            </div>
        </div>
      </div>
      <br><br><a [routerLink]="['/pizza/create']">Créer une nouvelle pizza</a>
    </div>
  </div>
 